.ch-txt {
    font-size: 20px;
    font-weight: bold;
}

.ch-txt.jade {
    color: rgb(2, 155, 2);
}

.ch-txt.seth {
    color: rgb(32, 110, 254)
}

.ch-txt.eve {
    color: rgb(219, 159, 243)
}

.ch-txt.lance {
    color: rgb(38, 89, 153)
}

.ch-txt.lyra {
    color: darkred
}

.ch-txt.dj {
    color: rgb(29, 0, 117)
}