.ch-txt {
    font-size: 20px;
    font-weight: bold;
}

.ch-txt.jade { /* class chain selector */
    color: rgb(2, 155, 2);
}

.ch-txt.seth {
    color: rgb(32, 110, 254)
}

.ch-txt.eve {
    color: rgb(219, 159, 243)
}

.ch-txt.lance {
    color: rgb(38, 89, 153)
}

.ch-txt.lyra {
    color: darkred
}

.ch-txt.dj {
    color: rgb(29, 0, 117)
}

.ch-txt.hannah {
    color:rgb(218,165,32)
}

.inline-character-box { /* for character info 'boxes', go unused in flexbox approach */
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    font-size: 22px;
}

.inline-center-box { /* centers the aforementioned character info boxes */
    text-align: center;
}
/* Again this is not needed for the new flexbox approach because flexbox has its own way of doing it */


.property-name { /* ex: name, age */
    font-size: 23px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: bold;
}

.char-info { /* ex: Jade, 19 */
    font-size: 22px;
    margin-top: 0%;
}

.flexbox-container {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.flexbox-container div {
    box-sizing: border-box;
    height: 400px;
    width: 200px; /* Dimensions of a flex item (width and height) are ignored with flexbox when flex-basis is set to anything other than 'auto'*/
    margin: 0 1px;
    padding: 10px 10px;
    border: 1px solid black;
    flex: 1;
    background: rgb(154, 236, 145);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

@font-face {
  font-family: 'acumi-pro'; /* its a real font */
  src: url(https://font.https://fonts.adobe.com/fonts/futura-pt/font/acumin-pro); /* local url of the font */
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif; /* Change to different font eventually */
    /* font-family: futura-pt, sans-serif; */
}

